<mat-toolbar class="app-fxLayout app-row app-center-y">
  <a routerLink="/" aria-label="Metacheck home" class="app-fxLayout app-row app-center-v app-logo">
    <img src="/assets/img/logo-metacheck.svg" alt="Metacheck" />
  </a>
  <span class="app-fxFlex" aria-hidden="true"></span>
  <nav>
    @for (item of navItems; track item.path) {
      @if (item.label == 'O aplikaci') {
         <a mat-button (click)="openAboutDialog()">
           {{ item.label }}
         </a>
      } @else {
        <a mat-button [routerLink]="item.path" routerLinkActive="app-active" [routerLinkActiveOptions]="{ exact: item.exact }" ariaCurrentWhenActive="page">
          {{ item.label }}
        </a>
      }  
    }
  </nav>
</mat-toolbar> 


