<mat-toolbar class="app-fxLayout app-row app-center-y">
  <a routerLink="/" aria-label="Metacheck home" class="app-fxLayout app-row app-center-v app-logo">
    <img src="/assets/img/logo-metacheck.svg" alt="Metacheck" />
  </a>
  <span class="app-fxFlex" aria-hidden="true"></span>
  <nav>
    @for (item of navItems; track item.path) {
      @if (item.dialog) {
         <a mat-button (click)="openAboutDialog()">
           {{ item.labelKey | translate }}
         </a>
      } @else {
        <a mat-button [routerLink]="item.path" routerLinkActive="app-active" [routerLinkActiveOptions]="{ exact: item.exact }" ariaCurrentWhenActive="page">
          {{ item.labelKey | translate }}
        </a>
      }  
    }
    <a mat-button [matMenuTriggerFor]="languageMenu">
      {{ 'navbar.lang.code.' + currentLang() | translate }}
    </a>
    <mat-menu #languageMenu="matMenu">
      @for (lang of languages; track lang) {
        <button mat-menu-item type="button" (click)="onLanguageChanged(lang)">
          <span>{{ 'navbar.lang.desc.' + lang | translate }}</span>
        </button>
      }
    </mat-menu>
  </nav>
</mat-toolbar> 


