.mat-toolbar {
  border-bottom: 1px solid var(--app-color-gray-3);
}
.app-logo {
  img {
    // v1
    height: 22px;
    // v2
    height: 14px;
  }
}

.mat-mdc-button {
  &.app-active {
    background-color: #EDF3F4;
    color: var(--app-color-secondary);
  }
}
