.app-logo {
  img {
    // v1
    height: 22px;
    // v2
    height: 14px;
  }
}

.mat-mdc-button {
  &.app-active {
    background-color: rgb(var(--app-color-lightnes));
    color: var(--app-color-secondary);
  }
}