@use '@angular/material' as mat;
@use './theme-colors' as theme-colors;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  color: var(--mat-sys-on-background);
  background: var(--mat-sys-background);
}

body {
  min-width: 320px;
  color: var(--mat-sys-on-background);
  background: var(--mat-sys-background);
  font: var(--mat-sys-body-large);
  letter-spacing: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: var(--mat-sys-primary);
}

.mat-mdc-outlined-button:not(:disabled) {
  --mat-button-outlined-outline-color: var(--mat-sys-primary);
}

.mat-mdc-icon-button:not(:disabled) {
  --mat-icon-button-icon-color: var(--mat-sys-primary);
  --mat-icon-button-state-layer-color: var(--mat-sys-primary);
}
