// --- MATERIAL OVERRIDE ---
@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

$alerts: (
  success: (
    color: rgb(var(--app-color-success-dark)),
    bg: rgb(var(--app-color-success-lightnes)),
    border: rgba(var(--app-color-success-light), .15),
    icon: 'task_alt',
    icon-color: rgb(var(--app-color-success-light)) 
  ),
  info: (
    color: rgb(var(--app-color-info-dark)),
    bg: rgb(var(--app-color-info-lightnes)),
    border: rgba(var(--app-color-info-light), .15),
    icon: 'info',
    icon-color: rgb(var(--app-color-info-light)) 
  ),
  warn: (
    color: rgb(var(--app-color-warn-dark)),
    bg: rgb(var(--app-color-warn-lightnes)),
    border: rgba(var(--app-color-warn-light), .15),
    icon: 'warning',
    icon-color: rgb(var(--app-color-warn-light)) 
  ),
  error: (
    color: rgb(var(--app-color-error-dark)),
    bg: rgb(var(--app-color-error-lightnes)),
    border: rgba(var(--app-color-error-light), .15),
    icon: 'error',
    icon-color: rgb(var(--app-color-error-light))
  )
);

$states: (
  EMPTY: #616161,
  PLANNED: #0288D1,
  GENERATING: #689F38,
  GENERATED: #388E3C,
  EDITING: #00796B,
  EDITED: #455A64,
  STOPPED: #E64A19,
  FAILED: #D32F2F,
);

$confidences: (
  app-confidence-zero: #6fa8dc,
  app-confidence-low: #f59a9f,
  app-confidence-medium: #f4d35e,
  app-confidence-high: #7edfa1,
  app-confidence-perfect: #b0b8c1
);

@mixin setCheckBoxDensity($val: null) {
  @if ($val != null) {
    .mat-mdc-checkbox {
      --mat-checkbox-state-layer-size: 20px;
      .mdc-checkbox__background {
        width: calc(18px - #{$val}px);
        height: calc(18px - #{$val}px);
        top: calc((var(--mat-checkbox-state-layer-size, 40px) - calc(18px - #{$val}px)) / 2);
        left: calc((var(--mat-checkbox-state-layer-size, 40px) - calc(18px - #{$val}px)) / 2);
      }
    }
  }  
}

@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }  
}

@mixin setAlertCard() {
  @each $alert, $item in $alerts {
    &.app-#{$alert} {
      color: map.get( $item , color );
      background-color: map.get( $item , bg );
      border-color: map.get( $item , border );

      .mat-icon {
        &:before {
          content: map.get( $item , icon );
          color: map.get( $item , icon-color );
        }
      }
    }
  }
}

@mixin setStateColor() {
  @each $state, $color in $states {
    .app-#{$state} {
      @include mat.chips-overrides((
        outline-color: rgba($color, .3),
        label-text-color: $color,
        elevated-container-color: rgba($color, .1)
      ));
    }
  }
}

@mixin setConfidenceColor($view: null) {
  @each $confidence, $color in $confidences {
    @if ($view == 'grid') {
      .app-img-grid {
        .app-img-tile{
          &.#{$confidence} {
            &:before {
              border-color: $color transparent transparent transparent;
            }
          }
        }
      }
    } @else {
      &.#{$confidence} {
        background-color: $color !important;

        &:hover {
          background-color: color.change($color, $alpha: 0.4) !important;
        }
      }
    }
  }
}


:root {
  // --- toolbar ---
  @include mat.toolbar-overrides((
    container-background-color: linear-gradient(90deg, var(--mat-sys-primary), color-mix(in srgb, var(--mat-sys-secondary) 82%, var(--mat-sys-secondary))),
    container-text-color: white,
    title-text-size: 18px,
  ));


  // --- card ---
  @include mat.card-overrides((
    outlined-container-shape: 0px,
    outlined-container-color: rgb(var(--app-color-lightnes)),
    outlined-outline-color: var(--app-color-gray-3)
  ));
  .mat-mdc-card {
    &.app-alert {
      @include setAlertCard();

      .mat-mdc-card-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .mat-icon {
          $size: 26px;
          @include setIcon(20);
          flex: 1 1 $size;
          box-sizing: border-box;
          max-width: $size;
          min-width: $size;

          &::before {
            font-family: "Material Symbols Outlined";
          }
        }

        .app-text {
          word-break: break-all;
        }
      }
    }
    .mat-mdc-card-actions {
      padding: 8px 16px 16px 16px;
    }
  }
  

  // --- form field ---
  @include mat.form-field-overrides((
    container-height: 36px,
    container-vertical-padding: 6px,
    container-text-size: 14px,
    container-text-weight: 500,

    outlined-outline-color: var(--app-color-gray-4),
    outlined-label-text-size: 14px,
    outlined-label-text-populated-size: 14px,

    hover-state-layer-opacity: 0,
    focus-state-layer-opacity: 0
  ));
  .mat-mdc-form-field {
    .mat-mdc-form-field-subscript-wrapper {
      height: 12px;
    }
  }


  // --- date picker ---
  @include mat.datepicker-overrides((
    calendar-container-shape: var(--app-radius-default),
    calendar-container-background-color: rgb(var(--app-color-lightnes)),
    calendar-container-elevation-shadow: 0px 2px 14px 0px rgba(110,110,110,0.4)
  ));


  // --- button ---
  @include mat.button-overrides((
    outlined-outline-color: var(--app-color-gray-3),
    outlined-container-height: var(--app-button-height),
    outlined-container-shape: var(--app-radius-default),
    filled-container-height: var(--app-button-height),
    filled-container-shape: var(--app-radius-default),
    //text-container-shape: var(--app-radius-default),
    text-container-height: var(--app-button-height)
  ));
  .mdc-button {
    &.app-warn {
      @include mat.button-overrides((
        filled-container-color: rgb(var(--app-color-error-light))
      ));
    }
  }
  .mat-mdc-form-field {
    .mat-mdc-form-field-icon-suffix {
      display: inline-flex;
      margin-right: 4px;
      @include mat.icon-button-overrides((
        state-layer-size: 30px,
        icon-size: 22px
      ));
      .mat-icon {
        @include setIcon(22);
      }
      .app-btn-remove {
        &:hover {
          color: rgb(var(--app-color-error-light));
        } 
      }
    }
    &.mat-mdc-form-field-type-mat-date-range-input {
       .mat-mdc-form-field-icon-suffix {
        @include mat.icon-button-overrides((
          state-layer-size: 26px,
          icon-size: 18px
        ));
       }
    }
  }
  .mat-mdc-table,
  .app-grid-table {
    @include mat.icon-button-overrides((
      state-layer-size: 20px
    ));
    .mdc-icon-button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--app-color-primary);

      .mat-icon {
        @include setIcon(18);
        vertical-align: baseline
      }
      
      &.app-icon-size-16 {
        .mat-icon {
          @include setIcon(16);
        }
      }
    }
  }
  .app-content-wrapper {
    @include mat.button-overrides((
      text-container-shape: var(--app-radius-default)
    ));
  }


  // --- toggle button ---
  @include mat.button-toggle-overrides((
    height: 34px,
    divider-color: var(--app-color-gray-3),
    selected-state-background-color: var(--app-color-gray-1),
    text-color: var(--app-color-gray-7),
    selected-state-text-color: var(--mat-sys-primary),
    shape: var(--app-radius-default)
  ));
  .app-toolbar {
    @include mat.button-toggle-overrides((
      shape: 0,
      divider-color: 0
    ));
  }


  // --- chips ---
  @include mat.chips-overrides((
    container-shape-radius: 32px,
    outline-color: rgba(#616161, .3),
    label-text-color: #616161,
    elevated-container-color: rgba(#616161, .1)
  ));
  @include setStateColor();
  .mat-mdc-table {
    @include mat.chips-overrides((
      container-height: var(--app-chip-table-height),
      container-shape-radius: var(--app-chip-table-height),
      label-text-line-height: var(--app-chip-table-height),
      label-text-size: 11px,
      label-text-weight: 600
    ));
    .mat-mdc-chip-set {
      .mdc-evolution-chip {
        margin: 0;
      }
    }
  }


  // --- checkbox ---
  @include setCheckBoxDensity(2);
  @include mat.checkbox-overrides((
    state-layer-size: 26px,
    selected-focus-state-layer-color: transparent
  ));
  .mat-mdc-checkbox {
    &.app-align-start {
      .mdc-form-field {
        align-items: start;
      }
    }
  }


  // --- paginator ---
  @include mat.paginator-overrides((
    container-background-color: rgb(var(--app-color-lightnes)),
    form-field-container-height: 36px,
    form-field-container-vertical-padding: 4px
  ));


  // --- table ---
  @include mat.table-overrides((
    background-color: rgb(var(--app-color-lightnes)),
    header-container-height: 32px, 
    header-headline-color: var(--app-color-gray-6),
    row-item-container-height: 28px,
    row-item-outline-color: var(--app-color-gray-3),
    row-item-label-text-size: 13px,
    footer-container-height: 28px
  ));
  .mat-mdc-table {
    .mat-mdc-header-row {
      background-color: rgb(var(--app-color-lightnes));
    }

    .mat-mdc-row {
      @include setConfidenceColor();
    }

    &.app-striped {
      .mat-mdc-row {
        &:nth-child(odd) {
          &:not(.app-selected) {
            background-color: var(--app-color-gray-1);
          }
        }
      }
    }
    &.app-hover {
      .mat-mdc-row {
        &:hover {
          &:not(.app-selected, .app-row-detail) {
            //background-color: var(--mat-sys-secondary-container);
            background-color: var(--app-color-gray-1);
          }
        }
      }
    }
    &.app-resize {
      table-layout: fixed;
      min-width: 1050px;
      max-width: 100%;
      width: fit-content;

      &.app-resizing {
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .mat-mdc-header-cell {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .mat-sort-header-content {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .app-resize-holder {
          cursor: col-resize;
          width: 10px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            border-right: 1px solid var(--app-color-gray-3);
          }
        }
      }

      .mat-mdc-cell {
        &:not(.app-col-detail) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .mdc-data-table__cell, 
    .mdc-data-table__header-cell {
      padding: 0 8px;
    }

    .mat-column-action {
      // max-width: 110px;
      // padding: 0;
      // text-align: center;
    }
  }


  // --- menu ---
  @include mat.menu-overrides((
    container-color: rgb(var(--app-color-lightnes)),
    item-label-text-size: 14px,
    item-label-text-tracking: 0px,
    item-label-text-weight: 400
  ));

  .mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: initial !important;
  }

  .mat-mdc-menu-item {
    min-height: var(--app-menu-item-height) !important;

    &.app-text-cutter-wrapper {
      .mat-mdc-menu-item-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .mat-icon {
      @include setIcon(20, var(--app-color-primary));
      margin-right: 6px;
    }
  }
  
  
  // --- select ---
  @include mat.select-overrides((
    panel-background-color: rgb(var(--app-color-lightnes))
  ));
  --mat-option-label-text-size: 14px;
  .mat-mdc-option {
    min-height: var(--app-menu-item-height) !important;
    line-height: var(--app-menu-item-height) !important;
  }


  // --- dialog ---
  @include mat.dialog-overrides((
    container-elevation-shadow: 5px,
    container-shape: var(--app-radius-default),
    container-color: rgb(var(--app-color-lightnes)),
    container-min-width: 400px
  ));
  

  // --- progress bar ---
  /* .mat-mdc-progress-bar {
    position: absolute;
  } */


  // --- snack bar ---
  .app-snackbar-success {
    @include mat.snack-bar-overrides((
      button-color: rgba(var(--app-color-lightnes), 0.6),
      container-color: rgb(var(--app-color-success-light)),
      supporting-text-color: rgb(var(--app-color-lightnes))
    ));
  }
  .app-snackbar-error {
    @include mat.snack-bar-overrides((
      button-color: rgba(var(--app-color-lightnes), 0.6),
      container-color: rgb(var(--app-color-error-light)),
      supporting-text-color: rgb(var(--app-color-lightnes))
    ));
  }


  // --- custom ---
  @include setConfidenceColor(grid);



  @for $i from 0 through 5 {
    mat-card.mat-elevation-z#{$i} {
      @include mat.elevation($i);
    }
  }
}