.mat-mdc-table {
  .mat-mdc-row {
    &.app-row-selected {
      outline: 2px solid var(--app-color-gray-8);
      outline-offset: -2px;
    }
  }
  .mat-mdc-cell {
    &.mat-column-uuid,
    &.mat-column-originalValue {
      min-width: 100px;
    }
    input,
    select {
      width: 100%;
    }
  }
}

.app-img-grid {
  padding:4px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 4px;
  align-items: start;

  .app-img-tile {
    width: 100%;
    height: 100%;
    min-height: 140px;
    min-width: 0;
    padding: 0;
    border: 0;
    background-color: var(--app-color-gray-3);
    position: relative;
    cursor: pointer;

    &.app-tile-selected {
      outline: 4px solid var(--app-color-gray-8);
      outline-offset: -4px; 

      &:after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        pointer-events: none;
      }
    }

    &:hover {
      opacity: .9;
    }

    &:before {
      content: "";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 30px 30px 0 0;
      transform: rotate(0);
      left: 0;
      top: 0;
      position: absolute;
    }

    .app-img-thumb {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.app-img-viewer {
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 0;
    min-width: 0;
    align-items: start;
    justify-items: stretch;
    padding: 8px;
  
    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: none;
      object-fit: contain;
      box-shadow: var(--mat-sys-level3);
    }
  }